<!-- The Tech Blog Page Template -->
<h1>The Tech Blog</h1>

<!-- Iterate over each blog -->
{{#each blogs}}
  <section class="card">
    <!-- Link to view the full blog -->
    <a href="/blogs/{{id}}" class="card-body">
      <!-- Display the title of the blog -->
      <h3 class="card-title">{{title}} <span>Posted by {{user.username}} on {{createdAt}}</span></h3>
      <!-- Display the username of the user who posted the blog and the timestamp of creation -->
      {{!-- <h5>Posted by {{user.username}} on {{createdAt}}</h5> --}}
      <!-- Display the content of the blog -->
      <p class="card-text">{{content}}</p>
    </a>
  </section>
{{/each}}
